{% extends "_layout" %}

{% block content %}
<div class="grid">
<div class="cell" style="background: url('{{siteUrl('assets/images/loginsignup.jpg')}}') no-repeat top 30% center; background-size: cover;"></div>
<div class="cell">
 <div class="content">
  {% if craft.request.getParam('status') == 'sent' %}
  <h2>Reset Request Successful</h2>
      <p class="centered-block">Please check your email for instructions on how to set a new password.</p>
  {% else %}
 <form method="post" accept-charset="UTF-8">
     {{ getCsrfInput() }}
     <input type="hidden" name="action" value="users/sendPasswordResetEmail">
     <input type="hidden" name="redirect" value="reset-password?status=sent">
     <h2>Reset Password</h2>
     <p class="centered-block">Enter your email address below and we’ll send you instructions to reset your password.</p>
     <span class="input input--yoshiko">
      <input class="input__field input__field--yoshiko" type="text" id="loginName" name = "loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{% endif %}"/>
      <label class="input__label input__label--yoshiko" for="loginName">
        <span class="input__label-content input__label-content--yoshiko" data-content="Email Address">Email Address</span>
      </label>
    </span>

     {% if errors is defined %}
     <ul class="errors">
         {% for error in errors %}
         <li>{{ error }}</li>
         {% endfor %}
     </ul>
     {% endif %}
    <div class="centered-block">
     <input type="submit" class="button teal" value="Reset Password">
    </div>
 </form>
 {%endif%}
    </div>
   </div>
   </div>
{% endblock %}
