{% extends "_layout" %}

{% if newUser %}
	{% set title = "Set Your Password"|t %}
{% else %}
	{% set title = "Set Your New Password"|t %}
{% endif %}

{% block content %}
<div class="grid">
<div class="cell" style="background: url('{{siteUrl('assets/images/loginsignup.jpg')}}') no-repeat top 30% center; background-size: cover;"></div>
<div class="cell">
 <div class="content">

  <form method="post" accept-charset="UTF-8">
     {{ getCsrfInput() }}
     <input type="hidden" name="action" value="users/setPassword">
     <input type="hidden" name="code" value="{{ code }}">
     <input type="hidden" name="id" value="{{ id }}">
     <h2>{{title}}</h2>
     <!--<p class="centered-block">Enter your password.</p> -->
     <span class="input input--yoshiko">
      <input class="input__field input__field--yoshiko" type="password" id="newPassword" name = "newPassword" value="{% if loginName is defined %}{{ loginName }}{% else %}{% endif %}"/>
      <label class="input__label input__label--yoshiko" for="newPassword">
        <span class="input__label-content input__label-content--yoshiko" data-content="New Password">Password</span>
      </label>
      </span>

     {% if errors is defined %}
         <ul class="errors">
             {% for error in errors %}
                 <li>{{ error }}</li>
             {% endfor %}
         </ul>
     {% endif %}

      <!-- only display Terms of Service when user is vet on new created -->
      {% if craft.request.getParam('vet') == 'vet' %}
      <input type="checkbox" class="tos" name="tos" value="tos"> I agree with Vetter's <a id="tos" href="">Terms of Service*</a><br>
      <div id="tos-modal" class="modal tos-modal">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="tos-Modal-close"><i class="icon-cancel"></i></span>
                  <h2>Veterinarian Terms of Service for Vetter Pet Care, LLC</h2>
              </div>
              <div class="tos-modal-body" >
                  {{veterinarian.termsOfServiceVet}}
              </div>
          </div>
      </div>
      {% endif %}
      <div class="submit_flag {% if craft.request.getParam('vet') == 'vet' %}vetter_tos{% else %}no_tos{% endif %}"></div>

      <div class="centered-block">
          <input type="submit" class="button teal tos_set" value="Set Password" disabled="disabled">
     </div>
 </form>
  </div>
</div>
</div>
    <script>
        $(function() {

            $("#newPassword").keyup(function(e){
                if ($(".submit_flag").hasClass('no_tos')){
                $(".tos_set").prop('disabled',false);
            }
        });

            $(".tos").click(function(e){
                if ($(this).is(':checked')){
                    $(".tos_set").prop('disabled',false);
                }else{
                    $(".tos_set").prop('disabled',true);
                }
            });

        });
    </script>
{% endblock %}
