<script src="{{siteUrl('/assets/js/min/script.js')}}"></script>
<script src="{{siteUrl('/assets/js/min/classie.js')}}"></script>
<script src="{{siteUrl('/assets/js/min/moment.js')}}"></script>
<script src="{{siteUrl('/assets/js/min/ios-orientationchange-fix.js')}}"></script>
<script type='application/javascript' src="{{siteUrl('/assets/js/fastclick.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{{ siteUrl }}assets/calendar/js/bootstrap.min.js"></script>
<script src="https://js.stripe.com/v2/stripe.js"></script>
<script src="{{ resourceUrl('charge/js/jquery.charge.js') }}"></script>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            placement: 'bottom',
            html: true,
            title: function() {
                return $(".qtip .title", $(this)).html();
            },
            content: function() {
                return $(".qtip .content", $(this)).html();
            }
        });

        var $cal = $("#mini-cal-wrapper");

        $cal.on({
            click: function(e) {
                var $self = $(this);
                var url = $self.attr("href");

                var updatedUrl = url.replace(/\/([\w_\-0-9]+)\/month(\/\d+\/\d+)/, "\/$1\/mini_cal$2", url);

                $.ajax({
                    url: updatedUrl,
                    type: "GET",
                    success: function(response) {
                        $cal.html(response);
                    }
                });

                e.preventDefault();
                e.stopPropagation();
                return false;
            }
        }, ".table thead a");
    });
</script>